{% extends 'base.html' %}

{% block content %}
  <h1> Buyers </h1>
  {% for buyer in buyers %}
    <div class="buyer">
      <h2><a href="/buyer/{{buyer.id}}">{{buyer.name}}</a>
      </h2>
      <p>{{buyer.phone}}</p>
      <p>{{buyer.email}}</p>
    </div>
    <hr>
    </form>
  {% endfor %}
{% endblock %}


<!-- class Buyer(models.Model):
    name=models.CharField(default='', max_length=100)
    phone=models.CharField(default='', max_length= 100)
    email= models.CharField(default = '', max_length= 100)
    company= models.CharField(default = '', max_length= 100)
    specifications= models.CharField(default = '', max_length= 100)
    -->