{% extends 'base.html' %}

{% block content %}
  <div class="buyer">
      <p><b>Name:</b>       {{buyer.name}}</p>
      <p><b>Phone:</b>       {{buyer.phone}}</p>
      <p><b>email:</b>     {{buyer.email}}</p>
      <p><b>Spec's:</b>  {{buyer.specifications}}</p>
  </div>
  
  <p>
    <a href="/buyer/{{buyer.id}}/edit"> Edit {{buyer.model}} </a>
  </p>
  <form action="/buyer/{{buyer.id}}/delete" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete {{buyer.model}}">
  </form>
  <hr></hr>
{% endblock %}

<!-- class Buyer(models.Model):
    name=models.CharField(default='', max_length=100)
    phone=models.CharField(default='', max_length= 100)
    email= models.CharField(default = '', max_length= 100)
    company= models.CharField(default = '', max_length= 100)
    specifications= models.CharField(default = '', max_length= 100) -->