{% extends 'base.html' %}

{% block content %}
  <h1> Rentals </h1>
  {% for house in houses %}
    <div class="house">
      <h2><a href="/house/{{house.id}}">{{house.address}}</a></h2>
    

      <h4>{{house.city}},  {{house.state}}<br>       
        
         {% if house.img_url %}
            <img src="{{ house.img_url.url }}" alt="{{ house.address }}" width="30%">
          {% endif %}
      
      </h4>

    <hr>
    </div>
    </form>
  {% endfor %}
{% endblock %}

<!-- class House(models.Model):
  address = models.CharField(default='', max_length=200)
  city = models.CharField(default = '', max_length= 100)
  state = models.CharField(default = '', max_length= 2)
  bedrooms = models.CharField(default = '', max_length= 2)
  baths = models.CharField(default = '', max_length= 2)
  garage = models.CharField(default = '', max_length= 3)
  basement = models.CharField(default = '', max_length= 3)
  ac = models.CharField(default = '', max_length= 3)
  forcedheat = models.CharField(default = '', max_length= 3)
  currentrent = models.CharField(default = '', max_length= 10)
  rented = models.CharField(default = '', max_length= 10)
  img_url = models.ImageField(upload_to = 'pic_folder/', default = 'pic_folder/None/no-img.jpg') -->


<!-- <img src="https://sjfhomes.s3.us-east-2.amazonaws.com/1114+grant.jpeg" alt="house"> -->