{% extends 'base.html' %}

{% block content %}

  <div>
   
    
    <!-- <img src="{{seller.logo}}" alt="logo of {{seller.name}}"/>  -->
    <h1>{{seller.name}}</h1>
    <p>{{seller.address}}</p>
    <p>{{seller.phone}}</p>
    <p>{{seller.distressed}}</p>
    <br>
    <br>
    
    {% for car in seller.car.all %}
    <!-- <h2><a href="/seller/{{seller.id}}">{{seller.name}}</a></h2> -->
    {% endfor %}
    <footer>
      <a href="/seller/{{seller.id}}/edit"> Edit {{seller.name}} </a>
      <form action="/seller/{{seller.id}}/delete">
        {% csrf_token %}
        <input type="submit" value="Delete {{seller.name}}">
      </form>
    </footer>
  </div>
{% endblock %}

<!-- 
class Seller(models.Model):
    name = models.CharField(default='', max_length=200)
    phone = models.CharField(default='', max_length=20)
    address = models.CharField(default='', max_length=400)
    distressed = models.CharField(default = '', max_length= 200) -->